*{
    background-color: #E7CCCC;
}



.text{
    color: #674188;
}

li{
    color: #8D77AB;
}

.text2{
    color: #8D77AB;
}

.kitty{
    color: #A64D79;
}

hr{
    color: #1A1A1D;
}